.navbar__container {
  align-items: center;
  background-color: #f76333;
  display: flex;
  justify-content: space-between !important;
  position: fixed;
  width: 100vw;
  z-index: 100;
}

.navbar__logo {
  width: 8vw;
}

.navbar__link-logo {
  left: 45%;
  position: absolute;
}

.nav__authLinks {
  display: flex;
  width: max-content;
}

.authLink {
  color: white;
  margin-right: 2vw;
  text-decoration: none;
}

.authLink:hover {
  color: white;
}

.navbar__profile-pic {
  border-radius: 50%;
  margin-right: 3vw;
  width: 7vw;
}

.navbar__link {
  color: black;
  text-decoration: none;
}
