/* GLOBAL */

.App {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.9rem !important;
  min-height: 100vh;
  max-height: max-content;
}

.btn:hover {
  transform: scale(1.05) !important;
}

.btn:focus {
  box-shadow: none !important;
}

.btn-orange {
  background-color: #f76333 !important;
  border: none !important;
  border-radius: 20px !important;
  color: white !important;
  font-size: 0.9rem !important;
}

.btn-light {
  border: none !important;
  border-radius: 20px !important;
  font-size: 0.9rem !important;
}

.form-control {
  border-radius: 20px !important;
  font-size: 0.8rem !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.form-control::placeholder {
  color: black !important;
  font-size: 0.8rem !important;
}

.css-5lzkk1-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 20px !important;
  padding: 8px 14px !important;
}

.link-back {
  margin-left: 10vw;
}

/* PUBLIC */

.public__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  padding-top: 10vh;
  padding-bottom: 8vh;
}

.form-public {
  background-color: rgba(255, 255, 255, 0.4) !important;
  border: none !important;
}

/* HOMEPAGE */

.homepage__link_login {
  align-self: flex-end;
}

.homepage__logo {
  width: 18%;
}

.homepage__description {
  color: white;
}

.homepage__description__title {
  font-size: 2rem;
  margin-bottom: 0px;
  margin-top: 5px;
  text-align: center;
}

.homepage__description__slogan {
  margin-top: 0px;
  text-align: center;
}

.homepage__login-btn {
  margin-right: 4vw;
  margin-top: 2vh;
  width: 27vw;
}

.homepage__signup-btn {
  font-size: 1.1rem !important;
  margin-bottom: 4vh;
  margin-top: 4vh;
  width: 50vw;
}

.homepage__card {
  background-color: #ed5d30;
  border-radius: 3px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 35%);
  height: 30vh !important;
  margin-top: 5vh;
  width: 70%;
}

.homepage__notifications-card {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 35%);
  height: 30vh !important;
  margin-bottom: 5vh;
  margin-top: 5vh;
  padding: 10px;
  width: 80%;
}

.homepage__icon-container {
  align-items: center;
  background-color: white;
  border-radius: 50%;
  display: flex;
  height: 32%;
  justify-content: center;
  margin: 4vh auto 2vh auto;
  width: 25%;
}

.homepage__icon {
  border-radius: 50%;
  padding: 5px;
  height: auto;
  width: 70%;
}

.homepage__link {
  color: white;
  text-decoration: none;
}

.homepage__card-description {
  margin: 0 auto;
  text-align: center;
  width: 80%;
}

.homepage__dashboard-container {
  align-items: space-evenly;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 0vh;
  width: 80%;
}

.homepage__dashboard-card {
  align-items: center;
  background-color: #ed5d30;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
  margin: 10px;
  width: 30%;
}

.homepage__dashboard-card p {
  font-size: 0.8rem;
  margin: 0;
  text-align: center;
}

.homepage__notifications-title h6 {
  display: inline-block;
  margin-left: 5px;
}

.homepage__dashboard-link {
  color: black;
  text-decoration: none;
}

/* AUTH */

.login__container {
  height: max-content;
}

.auth__link {
  align-self: flex-end;
  height: min-content;
  margin-top: 20vh;
}

.auth__logo {
  display: block;
  margin: 0 auto;
  width: 18%;
}

.auth__form {
  margin-top: 10vh !important;
  width: 70% !important;
}

.auth__submit-btn {
  margin-top: 3vh;
  width: 100%;
}

button.button__submit {
  max-width: none !important;
}

.login__signup-link {
  color: white;
  text-decoration: none;
  width: 70%;
}

.auth__error {
  color: white;
  margin-bottom: 0;
  margin-top: 2vh;
}

.auth__error span {
  background-color: #f76333;
}

/* RECIPES */

.recipes__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.recipes__cards {
  margin-bottom: 5vh;
}

.btn-filter-recipes {
  margin-right: 2vw;
}

.recipes__btn-filter-container {
  margin-top: 2vh;
}

/* ADD RECIPES */

.add-recipe__title {
  color: white;
  display: block;
  margin: 0 auto;
  padding-top: 13vh;
  text-align: left;
  width: 90% !important;
}

.add-recipe__form {
  display: block;
  margin: 5vh auto 0 !important;
  width: 90% !important;
}

.add-form {
  border-radius: 4px !important;
}

.add-recipe__submit-btn {
  margin-bottom: 2vh;
  width: 100%;
}

.add-form {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: none !important;
}

/* RECIPE DETAILS */

.recipe-details__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
}

.recipe-details__img {
  border-radius: 4px;
  width: 100%;
}

.recipes__title {
  color: white;
  margin-top: 13vh;
  text-align: left;
  width: 70%;
}

.recipe-details__title {
  color: white;
  margin-bottom: 4vh;
  padding-top: 13vh;
  text-align: left;
  width: 100%;
}

.recipe-details__subcontainer {
  margin-top: 5vh;
}

.subcontainer-title {
  margin-bottom: 3vh;
}

.recipe-details__creator {
  align-self: flex-start;
  margin: 0;
}

.css-1c99szj-MuiRating-icon {
  color: rgb(0 0 0 / 35%) !important;
}

.recipe-details__card-rating {
  align-self: flex-start;
  margin-top: 2vh;
}

.chips-container {
  display: flex !important;
  justify-content: space-evenly !important;
  margin-top: 5vh;
  width: 100%;
}

.recipe-details__link-back {
  align-self: flex-start;
}

.recipe-actions {
  margin-right: 2vw;
}

.recipe-actions-container {
  margin-top: 2vh;
}

/* REVIEWS */

.add-review__btn {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  margin: 2vh 0 0 0;
  width: max-content;
}

.add-review-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 4vh;
}

.reviews-container {
  background-color: white;
  border-radius: 4px;
  margin-bottom: 6vh;
  width: 100%;
}

.reviews__profile-pic {
  border-radius: 50%;
  margin-right: 5px;
  width: 10%;
}

.reviews__creator-container {
  color: rgba(0 0 0 / 70%);
  margin-bottom: 2vh;
  margin-top: 1vh;
}

.reviews__date {
  color: rgba(0 0 0 / 35%);
  font-size: 0.7rem;
  margin-left: 2vw;
}

.reviews__score-container {
  align-items: center;
  display: flex;
  margin-bottom: 1.5vh;
}

.reviews__comment {
  color: rgba(0 0 0 / 70%);
}

/* PHOTOS */

.css-o535wn-MuiChip-root .MuiChip-icon {
  color: white !important;
}

.photos__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5vh;
  width: 90%;
}

.photos__image {
  width: 40%;
  margin: 0 10px 10px;
}
