/* GLOBAL */

.App {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 0.9rem !important;
  min-height: 100vh;
  height: max-content;
}

.btn:hover {
  transform: scale(1.05) !important;
}

.btn:focus {
  box-shadow: none !important;
}

.btn-orange {
  background-color: #f76333 !important;
  border: none !important;
  border-radius: 20px !important;
  color: white !important;
  font-size: 0.9rem !important;
}

.btn-light {
  border: none !important;
  border-radius: 20px !important;
  font-size: 0.9rem !important;
}

.form-control {
  border-radius: 20px !important;
  font-size: 0.8rem !important;
}

.form-control:focus {
  box-shadow: none !important;
}

.form-control::placeholder {
  color: black !important;
  font-size: 0.8rem !important;
}

.css-5lzkk1-MuiInputBase-root-MuiOutlinedInput-root {
  border-radius: 20px !important;
  padding: 8px 14px !important;
}

.link-back {
  align-self: flex-start;
}

/* PUBLIC */

.public__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  padding-top: 10vh;
  padding-bottom: 8vh;
}

.form-public {
  background-color: rgba(255, 255, 255, 0.4) !important;
  border: none !important;
}

/* HOMEPAGE */

.homepage__link_login {
  align-self: flex-end;
}

.homepage__description {
  color: white;
}

.homepage__description__title {
  font-size: 2rem;
  margin-bottom: 0px;
  margin-top: 5px;
  text-align: center;
}

.homepage__description__slogan {
  margin-top: 0px;
  text-align: center;
}

.homepage__login-btn {
  margin-right: 4vw;
  margin-top: 2vh;
  width: 27vw;
}

.homepage__signup-btn {
  font-size: 1.1rem !important;
  width: 170px;
}

.homepage__card {
  background-color: #ed5d30;
  border-radius: 3px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 35%);
  height: max-content !important;
  margin-top: 5vh;
  width: 250px;
}

.homepage__notifications-card {
  background-color: rgba(255, 255, 255, 1);
  border-radius: 3px;
  box-shadow: 0 0.5rem 1rem rgb(0 0 0 / 35%);
  height: 35vh !important;
  margin-bottom: 5vh;
  margin-top: 5vh;
  padding: 10px;
  width: 90%;
}

.homepage__icon-container {
  align-items: center;
  background-color: white;
  border-radius: 50%;
  display: flex;
  height: 40px;
  justify-content: center;
  margin: 19px auto 10px auto;
  width: 40px;
}

.homepage__icon {
  border-radius: 50%;
  padding: 5px;
  height: auto;
  width: 70%;
}

.homepage__link {
  color: white;
  text-decoration: none;
}

.homepage__card-description {
  margin: 0 auto 19px;
  text-align: center;
  width: 80%;
}

.homepage__dashboard-container {
  align-items: space-evenly;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 0vh;
  width: 300px;
}

.homepage__dashboard-card {
  align-items: center;
  background-color: #ed5d30;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 10vh;
  margin: 10px;
  width: 100px;
}

.homepage__dashboard-card p {
  font-size: 0.8rem;
  margin: 0;
  text-align: center;
}

.homepage__notifications-title h6 {
  display: inline-block;
  margin-left: 5px;
}

.homepage__dashboard-link {
  align-items: center;
  color: black;
  display: flex;
  flex-direction: column;
  text-decoration: none;
}

.homepage__dashboard-link:hover {
  color: black;
}

/* AUTH */

.login__container {
  height: max-content;
}

.auth__link {
  align-self: flex-end;
  height: min-content;
  margin-top: 20vh;
}

.auth__logo {
  display: block;
  margin: 0 auto;
  width: 18%;
}

.auth__form {
  margin-top: 10vh !important;
  width: 70% !important;
}

.auth__submit-btn {
  margin-top: 3vh;
  width: 100%;
}

button.button__submit {
  max-width: none !important;
}

.login__signup-link {
  color: white;
  text-decoration: none;
  width: 70%;
}

.auth__error {
  color: white;
  margin-bottom: 0;
  margin-top: 2vh;
}

.auth__error span {
  background-color: #f76333;
}

/* RECIPES */

.search-bar-container {
  align-items: center;
  display: flex;
  justify-content: center;
  width: 100%;
}

.recipes__container {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.recipes__cards {
  margin-bottom: 5vh;
}

.btn-filter-recipes {
  margin-right: 2vw;
}

.recipes__btn-filter-container {
  margin-top: 2vh;
}

/* ADD RECIPES */

.add-recipe__title {
  color: white;
  display: block;
  margin: 0 auto;
  padding-top: 13vh;
  text-align: left;
  width: 90% !important;
}

.add-recipe__form {
  display: block;
  margin: 4vh auto 5vh !important;
  width: 90% !important;
}

.add-form {
  border-radius: 4px !important;
}

.add-recipe__submit-btn {
  margin-bottom: 2vh;
  width: 100%;
}

.add-form {
  background-color: rgba(255, 255, 255, 0.2) !important;
  border: none !important;
}

/* RECIPE DETAILS */

.recipe-details__container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  width: 85%;
}

.recipe-details__img {
  border-radius: 4px;
  width: 100%;
}

.recipes__title {
  color: white;
  margin-top: 13vh;
  text-align: left;
  width: 70%;
}

.recipe-details__title {
  color: white;
  margin-bottom: 4vh;
  padding-top: 13vh;
  text-align: left;
  width: 100%;
}

.recipe-details__subcontainer {
  margin-top: 5vh;
  width: 100%;
}

.subcontainer-title {
  margin-bottom: 3vh;
}

.recipe-details__creator {
  align-self: flex-start;
  margin: 0;
}

.css-1c99szj-MuiRating-icon {
  color: rgb(0 0 0 / 35%) !important;
}

.recipe-details__card-rating {
  align-self: flex-start;
  margin-top: 2vh;
}

.chips-container {
  display: flex !important;
  justify-content: space-evenly !important;
  margin-top: 5vh;
  width: 100%;
}

.recipe-actions {
  margin-right: 2vw;
}

.recipe-actions-container {
  margin-top: 2vh;
}

/* REVIEWS */

.add-review__btn {
  background-color: rgba(255, 255, 255, 0.2);
  color: white;
  margin: 2vh 0 0 0;
  width: max-content;
}

.add-review-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  margin-bottom: 4vh;
}

.reviews-container {
  background-color: white;
  border-radius: 4px;
  margin-bottom: 15vh;
  width: 100%;
}

.reviews__profile-pic {
  border-radius: 50%;
  margin-right: 5px;
  width: 10%;
}

.reviews__creator-container {
  color: rgba(0 0 0 / 70%);
  margin-bottom: 2vh;
  margin-top: 1vh;
}

.reviews__date {
  color: rgba(0 0 0 / 35%);
  font-size: 0.7rem;
  margin-left: 2vw;
}

.reviews__score-container {
  align-items: center;
  display: flex;
  margin-bottom: 1.5vh;
}

.reviews__comment {
  color: rgba(0 0 0 / 70%);
}

/* PHOTOS */

.css-o535wn-MuiChip-root .MuiChip-icon {
  color: white !important;
}

.photos__container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5vh;
  width: 90%;
}

.photos__image {
  width: 40%;
  margin: 0 10px 10px;
}

/* PROFILE */

.profile__profile-pic {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.profile__profile-pic-container {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  height: 110px;
  width: 110px;
}

.profile__name {
  color: white;
  margin: 0;
  text-align: center;
}

.profile__title {
  color: white;
  display: block;
  margin: 0 auto 2vh;
  text-align: left;
  width: 90% !important;
}

.pets__carousel {
  display: flex;
  align-items: center;
}

.pets__section-title {
  color: white;
  margin-top: 5vh;
}

.profile__insurance-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  text-align: left;
}

.profile__insurance-category {
  margin: 0;
  width: 40vw;
}

.add-pet-link {
  align-self: flex-end;
  margin-right: 4vw !important;
  text-decoration: none !important;
}

.h3__title {
  color: white;
  display: block;
  margin: 0 auto;
  padding-top: 2vh;
  text-align: left;
  width: 90% !important;
}

.profile__pet-profile-pic {
  border-radius: 50%;
  height: 100px;
  width: 100px;
}

.profile__pet-profile-pic-container {
  align-items: center;
  display: flex;
  justify-content: center;
  background-color: white;
  border-radius: 50%;
  margin-top: 2vh;
  height: 110px;
  width: 110px;
}

.pet-profile__title {
  color: white;
  display: block;
  margin: 0 auto;
  padding-top: 1vh;
  text-align: center;
  width: 90% !important;
}

.pet-info-container {
  margin-top: 4vh;
  width: 80%;
}

.pet-subcontainer-title {
  color: rgba(255, 255, 255, 0.6);
  display: inline-block;
  margin-right: 6vw;
  text-align: left !important;
  min-width: 100px !important;
}

.pet-subcontainer-description {
  color: white !important;
  display: inline;
}

.form__title {
  color: white;
  display: block;
  margin: 0 auto 2vh auto;
  width: 90% !important;
}

.add-pet-info__form {
  display: block;
  margin: 0 auto !important;
  width: 90% !important;
}

.pet-actions {
  margin-top: 2vh;
}

/* SERVICES */

.pet-services__tip-to-add {
  color: rgba(0, 0, 0, 0.6);
  font-size: 0.8rem;
  margin: 0 auto;
  width: 90%;
}

.table {
  border-radius: 8px;
  margin-top: 2vh;
  width: 90% !important;
}

.blinking {
  animation: pulsate 1s ease-out;
  -webkit-animation: pulsate 1s ease-out;
  -webkit-animation-iteration-count: infinite;
  opacity: 1;
}

@keyframes pulsate {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.services__filter-container {
  margin-top: 15px;
  text-align: center;
  width: 95%;
}

.btn-filter-services {
  margin: 0 5px 10px;
}

.popup__name {
  font-size: 0.9rem;
  margin: 0 !important;
}

.popup__link {
  border: none;
  background-color: transparent;
  padding: 0;
  text-decoration: underline;
}

@media (min-width: 576px) {
  .search-bar-container {
    width: 80%;
  }
  .h3__title {
    text-align: center;
  }
  .auth__form {
    width: 50% !important;
  }
  .login__signup-link {
    width: 50%;
  }
  .homepage__dashboard-container {
    width: 300px;
  }
  .homepage__dashboard-card {
    width: 100px;
  }
  .homepage__dashboard-card p {
    font-size: 0.9rem;
  }
  .homepage__notifications-card {
    width: 60%;
  }
  .profile-form {
    width: 50% !important;
  }
  .pet-info-container {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
  .pet-info-subcontainer {
    width: 250px;
  }
}

@media (min-width: 768px) {
  .public__container {
    padding-top: 12vh;
  }
  .homepage__card {
    height: 140px !important;
    width: 400px !important;
  }
  .homepage__card-description {
    font-size: 1.1rem;
  }
  .search-bar-container {
    width: 50%;
  }
  .btn {
    font-size: 1.1rem !important;
  }
  .auth__form {
    width: 40% !important;
  }
  .login__signup-link {
    width: 40%;
  }
  .homepage__dashboard-container {
    width: 400px;
  }
  .homepage__dashboard-card {
    height: 80px;
    width: 140px;
  }
  .homepage__dashboard-card p {
    font-size: 0.9rem;
  }
  .homepage__notifications-card {
    width: 60%;
  }
  .profile__profile-pic {
    height: 100px;
    width: 100px;
  }
  .profile__profile-pic-container {
    height: 110px;
    width: 110px;
  }
  .profile-form {
    width: 40% !important;
  }
  .profile__name {
    font-size: 1.2rem !important;
  }
  .pet-info-subcontainer {
    width: 300px;
  }
  .add-recipe__form {
    width: 60% !important;
  }
}

@media (min-width: 1007px) {
  .auth__form {
    width: 30% !important;
  }
  .login__signup-link {
    width: 30%;
  }
  .profile-form {
    width: 30% !important;
  }
  .add-recipe__form {
    width: 40% !important;
  }
}
